*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "montserrat";
}
body{
  background: #333;
}
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.card{
  cursor: pointer;
  width: 340px;
  height: 480px;
}
.front,.back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
}
.front .sub-front{
  width: 100%;
  height: 80%;
}

.sub-front img{
  width: 100%;
  height: 100%;
}
  
.sub-front h1{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f1f1f1;
}

.front h3{

  width: 100%;
  color: black;
  font-size: 23px;
  text-align: center;
  top: 85%;
  position: absolute;
}

.front{
  transform: perspective(1000px) rotateY(0deg);
  background-color: brown;

}
.back{
  background: #f1f1f1;
  transform: perspective(1000px) rotateY(180deg);
}
.back-content{
  color: #2c3e50;
  text-align: center;
  width: 100%;
}
.social{
  margin: 20px 0;
}
.social a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #2c3e50;
  font-size: 18px;
  transition: 0.4s;
  border-radius: 50%
}
.social a:hover{
  background: #2c3e50;
  color: white;
}
.card:hover .front{
  transform: perspective(1000px) rotateY(-180deg);
}
.card:hover .back{
  transform: perspective(1000px) rotateY(0deg);
}
