body {
  margin-top: 50px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #575756;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row{
  margin-top: 20rem;
}

/*
---------------------------------------------
*/
.pricing-table {
  text-align: center;
}
.pricing-table .pricing-table-col {
  border-radius: 6px;
  margin-top: 20px;
  vertical-align: top;
  min-height: 400px;
  width: 380px;
  border: 2px solid #ffc000;
  display: inline-block;
  padding: 20px 20px 40px 20px;
  transition: all 0.2s ease-out;
}
.pricing-table .pricing-table-col + .pricing-table-col {
  margin-left: -2px;
}
.pricing-table .pricing-table-col .pricing-table-title {
  font-size: 20px;
  font-weight: 600;
  margin: 40px auto 60px auto;
}
.pricing-table .pricing-table-col .pricing-table-price {
  color: #ffc000;
  margin: 30px auto;
  line-height: 28px;
}
.pricing-table .pricing-table-col .pricing-table-price .currency {
  vertical-align: top;
  font-size: 24px;
}
.pricing-table .pricing-table-col .pricing-table-price .price {
  font-size: 100px;
  font-weight: bold;
}
.pricing-table .pricing-table-col .pricing-table-price .terms {
  font-size: 24px;
}
.pricing-table .pricing-table-col .pricing-table-description {
  margin: 40px 0;
}
.pricing-table .pricing-table-col.highlight {
  padding: 40px 20px 60px 20px;
  margin-top: 0;
  background-color: #ffc000;
  color: #222222;
}
.pricing-table .pricing-table-col.highlight .pricing-table-price {
  color: #ffffff;
}
