*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background:#0077FF !important;
}

h1{
    text-align: center;
    margin: 50px auto 120px !important;
    color: white;
}

.container{
    width: 100%;
    height: 100vh;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95%;
    box-sizing: border-box;
    

}

.main{
    width: 300px;
    min-height:380px;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin: 0% 5% 5% 5% ;
    

}
.service{
    width: 350px;
    background: white;
    padding: 30px;
    border-radius:10px ;
    position: absolute;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 0 20px -15px #030380;
    transition: .8s;


}
.service-logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: white;
    border:18px solid #0077FF ;
    transition: 0.8s;
    
}
.service-logo img{
    width: 50px;
    margin-top: 20px;
}

.service h4{
    height: 35px;
    width: 80%;
    background: white;
    margin: 50px auto;
    position: relative;
    font-size: 20px;
}

.service h4::after{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #fff , #0077FF );
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}

.service h4::before{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right,  #0077FF,#fff  );
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}

.shadowOne{
    height: 220px;
    width:335px;
    background: #fff;
    position: absolute;
    border-radius:10px ;
    bottom: 0;
    left: 12%;
    z-index: -1;
    box-shadow: 0 0 20px -15px #030380;
    transition: .8s;
}
.shadowTwo{
    height: 220px;
    width: 275px;
    background: #fff;
    position: absolute;
    border-radius:10px ;
    bottom: 0;
    left: 22%;
    z-index: -2;
}
.main:hover .service{

    transform: translateY(-50px);

}

.main:hover .shadowOne{

    transform: translateY(-25px);
    
}

.main:hover .service-logo{
    transform: rotate(360deg);

}


